<h1><%= @message %></h1>


<table width="50%" cellpadding="3" cellspacing="3" border="3" bordercolor="black">
	<caption><b>Employee Details<br></caption>
   <tr>
   	  <th>ID</th>
   	  <th>Name</th>
   	  <th>Contact</th>
   	  <th>Address</th>
   	  <th>View Detail</th>
   	</tr>
  <% @employees.each do |employee| %>
  	<tr>
      <td><%= employee.id %></td>
       <td><%= employee.name %></td>
        <td><%= employee.contact_no %></td>
         <td><%= employee.address %></td>
         <td><%= link_to "show", "/employees/#{employee.id}" %></td>
    </tr>
  <% end %>

</table>
<br>
<br>
