ID: <%= @student.id %><br />
Name: <%= @student.sname %><br>
RollNo: <%= @student.roll_no %><br>
DOB: <%= @student.date_of_birth %><br>
Address: <%= @student.address %><br>
Contact: <%= @student.contact_no %><br>
Created: <%= @student.created_at %><br>
<%= link_to "All Students", "/students"%></td>